# Others
/.directory
/.ignore
/.imdone
/.profile

# Cache, Sessions and Logs
/tmp/
/log/

# Config Parameters
/config/config.yml
/config/config.json
/config/config.xml
/config/config.php

# Database Parameters
/config/database.yml
/config/database.json
/config/database.xml
/config/database.php

# Assets and user uploads
/web/assets/
/web/bundles/
/web/css/
/web/js/
/web/images/
/public/uploads/
/public/assets/
/public/bundles/
/public/css/
/public/js/
/public/images/
/public/uploads/

# Managed by Composer
/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar
